@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background: hsl(216, 12%, 8%);
    height: 100vh;
    color: white;
    font-family: Overpass;
}
.selected {
    background: white !important;
    color:hsl(213, 19%, 18%) !important;
}
.hidden {
    display: none !important;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.inner-wrapper {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    background: hsl(213, 19%, 18%);
    border-radius: 30px;
}
.rating {
    padding: 30px;
}
.star {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 30px 0 0;
    font-size: 30px;
    font-weight: 600;
}
p {
    color: hsl(217, 12%, 63%);
    margin: 15px 0 0;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
}
.rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
.rate {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.03);
    color: hsl(217, 12%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
}
.rate:hover {
    background: hsl(25, 97%, 53%);
    color:hsl(213, 19%, 18%);
}
.submit-btn {
    width: 100%;
    background:hsl(25, 97%, 53%);
    padding: 13px;
    border: none;
    border-radius: 50px;
    color: hsl(213, 19%, 18%);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.submit-btn:hover {
    background: white;
}
.thank-you {
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.number-selected {
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.03);
    color:hsl(25, 97%, 53%);
    border-radius: 50px;
    font-size: 15px;
    margin-top: 30px;
}
@media screen and (max-width: 768px) {
.wrapper {
    padding: 20px;
}
.inner-wrapper {
    max-width: 350px;
    border-radius: 15px;
}
.rating {
    padding: 25px 20px;
}
h1 {
    margin: 25px 0 0;
    font-size: 25px;
}
p {
    font-size: 14px;
}
.rates {
    margin: 25px 0;
}
.rate {
    width: 40px;
    height: 40px;
    font-size: 14px;
}
.thank-you {
    padding: 30px 20px;
}
.number-selected {
    padding: 5px 20px;
    font-size: 14px;
    margin-top: 25px;
}
}